.container{
    display: flex;
    flex-direction: column;
}
.box{
    width: 100px;
    height: 100px;
    
}
.red{
    background-color: red;
    margin-left: 0px;
    border-radius: 00% 50% 0% 50%;
}
.green{
    background-color: green;
    margin-left: 100px;
    border-radius: 00% 50% 0% 50%;
}
.blue{
    background-color: blue;
    margin-left: 200px;
    border-radius: 00% 50% 0% 50%;
}
.gray{
    background-color: gray;
    margin-left: 300px;
    border-radius: 00% 50% 0% 50%;
}

